@{
    ViewBag.Title = "我的工作台";
}


	<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="index.html">个人中心</a> 
				</li>
				<li><a href="@Url.Action("Index","Workbench")">我的工作台</a></li>
			</ul>
<button class="btn btn-primary noty" data-noty-options="{&quot;text&quot;:&quot;This is an alert notification with fade effect&quot;,&quot;layout&quot;:&quot;center&quot;,&quot;type&quot;:&quot;alert&quot;,&quot;animateOpen&quot;: {&quot;opacity&quot;: &quot;show&quot;}}"><i class="halflings-icon white bell"></i> Center (fade)</button>
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>编号</th>
                <th>角色名</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
            </tr>
          
        </tbody>
    </table>
@section jss{
<script type="text/javascript">
    $(function () {
        //$('#example').DataTable();
        commObj.LoadTable("#example",
            [
                null,
                null
        ]
        );
    })


</script>
    }